<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.snow.snippet.mybatis.mapper.classMapper">

	<select id="getClass" parameterType="int" resultMap="ClassResultMap">
		select * from class c, teacher t where c.teacher_id = t.id and c.id = #{id}
	</select>
	
	<resultMap type="org.snow.snippet.mybatis.Classes" id="ClassResultMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<association property="teacher" javaType="org.snow.snippet.mybatis.Teacher">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	
</mapper>